<div class = "home-callout text-center container-fluid">
    <h1>Welcome to scbtc.info</h1>
    <h3>A membership site where local digital money fans and entrepreneurs find community and opportunity. </h3>
</div>